@import '../../assets/styles/common';
.nav-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 1rem 2rem;
    font-size: $font-big-size;
    background-color: $background-color;
    box-shadow: 0px 5px 7px 1px rgba(0, 0, 0, 0.75);
    background: linear-gradient(to top, #008aff, #00ffe7);
    animation: nav-menu-animation 5s linear infinite;

    &__link {
        color: blue;
        padding: 10px;
        text-decoration: none;
        &:hover {
            opacity: 0.8;
        }
        &._active {
            animation: nav-menu__link-animation 0.2s ease-in-out;

            border-bottom: 5px solid;
        }
    }
}

@keyframes nav-menu-animation {
    0%,
    100% {
        filter: hue-rotate(0deg);
    }
    50% {
        filter: hue-rotate(360deg);
    }
}

@keyframes nav-menu__link-animation {
    0% {
        border-bottom: 1px solid;
    }

    100% {
        border-bottom: 5px solid;
    }
}
