@import '../../assets/styles/common';

.navMenu {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 1rem 2rem;
    font-size: $font-big-size;
    background-color: $background-color;
    box-shadow: 0px 5px 7px 1px rgba(0, 0, 0, 0.75);
}
