@import "../../assets/styles/common";

.nav-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 1rem 2rem;
    font-size: $font-big-size;
    background-color: $background-color;

    &__link {
        text-decoration: none;
        color: #fff;
        padding: 11px;

        &._active {
            border-bottom: 5px solid;
            animation: nav-menu__link-animation 0.2s ease-in-out; //easing is not working properly
        }
    }
}

a:hover {
    opacity: 0.8;
}

@keyframes nav-menu__link-animation {
    0% {
        border-bottom: 1px solid;
    }

    100% {
        border-bottom: 5px solid;
    }
}
