{
    "extends": [
        "eslint:recommended",
        "prettier",
        "plugin:react/recommended",
        "plugin:react-hooks/recommended"
    ],
    "plugins": [
        "@typescript-eslint",
        "prettier",
        "react-hooks",
        "react"
    ],
    "parser": "@typescript-eslint/parser",
    "env": {
        "browser": true,
        "commonjs": true,
        "es6": true,
        "jest": true,
        "node": true
    },
    "parserOptions": {
        "project": "./tsconfig.json",
        "tsconfigRootDir": "./",
        "ecmaVersion": 6,
        "sourceType": "module",
        "ecmaFeatures": {
            "modules": true,
            "experimentalObjectRestSpread": true
        }
    },
    "rules": {
        "prettier/prettier": ["warn"],
        "max-len": ["error", { "code": 120 }],
        "indent": ["error", 4, { "SwitchCase": 1 }],
        "linebreak-style": 0,
        "no-duplicate-imports": "warn",
        "no-console": ["error", { "allow": ["warn", "error"] }],
        "no-return-assign": [
            "error",
            "except-parens"
        ],
        "@typescript-eslint/no-unused-expressions": [
            "error",
            {
                "allowShortCircuit": true,
                "allowTernary": true
            }
        ],
        "react-hooks/rules-of-hooks": "error",
        "react-hooks/exhaustive-deps": "warn",
        "react/prefer-stateless-function": "off",
        "react/jsx-filename-extension": "off",
        "no-plusplus": "off",
        "react/no-array-index-key": "off",
        "jsx-a11y/click-events-have-key-events": "off",
        "react/jsx-indent": "off",
        "import/prefer-default-export": "off",
        "react/jsx-wrap-multilines": "off",
        "react/forbid-prop-types": "off",
        "react/jsx-indent-props": "off",
        "react/jsx-one-expression-per-line": "off",
        "react/state-in-constructor": "off",
        "class-methods-use-this": "off",
        "no-shadow": "off",
        "react/jsx-curly-newline": "off",
        "react/require-default-props": "off",
        "react/jsx-props-no-spreading": "off",
        "spaced-comment": [
            "error",
            "always",
            {
                "markers": [
                    "/"
                ]
            }
        ],
        "react/prop-types": "off",
        "@typescript-eslint/indent": "off",
        "@typescript-eslint/quotes": "off",
        "no-underscore-dangle": "off"
    },
    "globals": {
        "window": true,
        "document": true,
        "localStorage": true,
        "FormData": true,
        "FileReader": true,
        "Blob": true,
        "navigator": true
    }
}