@import '../../../assets/styles/common.scss';

.navMenuLink {
    display: flex;
    color: white;
    flex-direction: column;
    padding: 10px;
    text-decoration: none;
    height: 350px;
    width: 400px;
    min-width: 250px;
    padding: 1.5rem;
    border-radius: 16px;
    background: $background-color;
    box-shadow: -1rem 0 3rem #000;
    transition: 0.2s;

    &:hover {
        transform: translateY(-1rem);
    }
    &:hover ~ .navMenuLink {
        transform: translateX(130px);
    }

    &:not(:first-child) {
        margin-left: -130px;
    }

    &._active {
        animation: nav-menu__link-animation 0.2s ease-in-out;
        border-bottom: 5px solid;
    }
}

@keyframes nav-menu__link-animation {
    0% {
        border-bottom: 1px solid;
    }

    100% {
        border-bottom: 5px solid;
    }
}
