@import '../../../assets/styles/common.scss';

.navMenuLink {
    display: flex;
    color: $link-color;

    margin: 10px;
    text-decoration: none;

    &._active {
        animation: nav-menu__link-animation 0.2s ease-in-out;
        border-bottom: 5px solid;
        color: $link-color_active;
    }

    &:hover {
        animation: nav-menu__link-animation 0.2s ease-in-out;
        border-bottom: 2px solid;
        color: $link-color_active;
    }
}

@keyframes nav-menu__link-animation {
    0% {
        border-bottom: 1px solid;
    }

    100% {
        border-bottom: 5px solid;
    }
}
