@import './assets/styles/common';

.app {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px 0;

    color: $link-color;

    &__main {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        padding: 1rem 2rem;
        font-size: 1rem;
    }
}
