@import './assets/styles/normalizer';
@import './assets/styles/common';
@import './assets/styles/font.scss';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: $background-color;
    @include font-base();

    &._light {
        --background-color: rgb(212, 209, 209);
    }

    &._dark {
        --background-color: #17141d;
    }
}
