@import './assets/styles/normalizer';
@import './assets/styles/common';
@import './assets/styles/font.scss';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: $background-color;
    @include font-base();

    &._light {
        --background-color: rgb(255, 255, 255);
    }

    &._dark {
        --background-color: rgb(255, 255, 255);
    }
}

a._active {
    animation: nav-menu__link-animation 0.2s ease-in-out;
    border-bottom: 2px solid;
    color: $link-color_active;
}

@keyframes nav-menu__link-animation {
    0% {
        border-bottom: 1px solid;
    }

    100% {
        border-bottom: 2px solid;
    }
}
