$main-color: var(--main-color, #17141d);
$link-color: var(--link-color, #ffff);
$secondary-color: var(--secondary-color, #b1a);
$list-color: var(--list-color, #d42121);
$background-color: var(--background-color, #17141d);
$red: var(--red-color, #d40006);
