$main-color: var(--main-color, #000);
$link-color: var(--link-color, #3d6bbf);
$secondary-color: var(--secondary-color, #b1a);
$list-color: var(--list-color, #d42121);
$background-color: var(--background-color, #21211e);
